# Real Estate Clean up

This is a real dataset and it was downloaded using web scraping techniques. The data contains registers from fotocasa which is one of the most popular websites of real estate in Spain. Please, do not do this (web scraping) unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro and In no case were economic returns obtained from it.

It contains thousands of data from real houses published on the web www.fotocasa.com. Your goal is to extract as much information as possible with the knowledge you have so far about data science, for example what is the most expensive house in the entire dataset?

Let's start with precisely that question... Good luck!

#### Exercise 00. Read the dataset assets/real_estate.csv and try to visualize the table (★☆☆)

In [ ]:
import pandas as pd

# this CSV file contains semicolons instead of comas as separator
ds = pd.read_csv('assets/real_estate.csv', sep=';')
ds

#### Exercise 01. Which is the most expensive house in the dataset? (★☆☆)

Print the address and the price of the selected house. For example:

`The house with address General Street Nº5 is the most expensive and its price is 5000000 USD`

In [ ]:
ds_sort = ds.sort_values(by= 'price', ascending= False)


ds_sort.head(1)

ExpensiveHouse_Price = ds_sort.iloc[0]['price']
print(ExpensiveHouse_Price)

ExpensiveHouse_Address = ds_sort.iloc[0]['address']
ExpensiveHouse_Address

print(f"The house with address {ExpensiveHouse_Address} is the most expensive and its price is {ExpensiveHouse_Price} USD")

#### Exercise 02. Which is cheapest house in the dataset? (★☆☆)

Print the address and the price of the selected house. For example:

`The house with address Concrete Street Nº1 is the cheapest and its price is 12000 USD`

In [ ]:
ds[ds['price'] > 0].iloc[0]['price']

In [ ]:
ds_sort = ds.sort_values(by= 'price', ascending= True)

ds_sort.head(1)

CheapestHouse_Price = ds_sort[ds_sort['price'] > 0].iloc[0]['price']
print(CheapestHouse_Price)

CheapestHouse_Address = ds_sort[ds_sort['price'] > 0].iloc[0]['address']
CheapestHouse_Address

print(f"The house with address {CheapestHouse_Address} is the cheapest and its price is {CheapestHouse_Price} USD")

#### Exercise 03. Which is the biggest and the smallest house in the dataset? (★☆☆)

Print both the address and the surface of the selected houses. For example:

`The bigger house is located on Yukka Street Nº10 and its surface is 5000 meters`

`The smaller house is located on County Road 1 N and its surface is 200 meters`

In [ ]:
ds_sort_big = ds.sort_values(by= 'surface', ascending= False)

ds_sort_small = ds.sort_values(by= 'surface', ascending= True)

BiggestHouse_Address = ds_sort_big.iloc[0]['address']

SmallestHouse_Address = ds_sort_small.iloc[0]['address']

BiggestHouse_Surface = ds_sort_big.iloc[0]['surface']
SmallestHouse_Surface = ds_sort_small.iloc[0]['surface']

print(f'The bigger house is located on {BiggestHouse_Address} and its surface is {BiggestHouse_Surface} meters')
print(f'The smaller house is located on {SmallestHouse_Address} and its surface is {SmallestHouse_Surface} meters')

#### Exercise 04. How many populations (level5 column) the dataset contains? (★☆☆)

Print the name of the populations with comma as separator. For example:

`> print(populations)`

`population1, population2, population3,...`

In [27]:
populations_list = ds['level5'].to_list()

populations_set = set(populations_list)

populations_list = list(populations_set)

print(populations_list)

['Corpa', 'Mejorada del Campo', 'Colmenar Viejo', 'Fresnedillas de la Oliva', 'Gargantilla del Lozoya', 'Fuenlabrada', 'Algete', 'Navalcarnero', 'Loeches', 'Tielmes', 'Torrejón de la Calzada', 'Cercedilla', 'Morata de Tajuña', 'Valdilecha', 'Getafe', 'Nuevo Baztán', 'Orusco de Tajuña', 'Ajalvir', 'Camarma de Esteruelas', 'Daganzo de Arriba', 'Móstoles', 'Collado Mediano', 'Valdemaqueda', 'Parla', 'Quijorna', 'Valdaracete', 'Los Molinos', 'Cenicientos', 'Boadilla del Monte', 'Cabanillas de la Sierra', 'Torrelaguna', 'Humanes de Madrid', 'Guadalix de la Sierra', 'Valdeolmos-Alalpardo', 'Belmonte de Tajo', 'Cadalso de los Vidrios', 'Santorcaz', 'Villa del Prado', 'Las Rozas de Madrid', 'San Fernando de Henares', 'Bustarviejo', 'Navacerrada', 'Patones', 'San Lorenzo de El Escorial', 'Villaconejos', 'Puentes Viejas', 'Navalagamella', 'Cubas de la Sagra', 'Alcobendas', 'Pinto', 'Valdemoro', 'Griñón', 'Galapagar', 'Pozuelo del Rey', 'Navarredonda', 'Rivas-vaciamadrid', 'Aranjuez', 'Arroyomolinos (Madrid)', 'Madarcos', 'Talamanca de Jarama', 'Chapinería', 'Colmenar del Arroyo', 'Los Santos de la Humosa', 'Lozoya', 'Valdeavero', 'Ribatejada', 'Fuentidueña de Tajo', 'La Hiruela', 'Torrejón de Velasco', 'Buitrago del Lozoya', 'Pelayos de la Presa', 'Valdemanco', 'Carabaña', 'San Sebastián de los Reyes', 'Santa María de la Alameda', 'Montejo de la Sierra', 'Coslada', 'Horcajo de la Sierra', 'Sevilla la Nueva', 'San Martín de la Vega', 'Soto del Real', 'Chinchón', 'Titulcia', 'Rascafría', 'Leganés', 'Lozoyuela-navas-sieteiglesias', 'Valdemorillo', 'Ambite', 'Serranillos del Valle', 'Torremocha de Jarama', 'Piñuécar-gandullas', 'Alpedrete', 'Villamanrique de Tajo', 'Fresno de Torote - Serracines', 'Navalafuente', 'Torrejón de Ardoz', 'San Agustín del Guadalix', 'Aldea del Fresno', 'El Escorial', 'Robregordo', 'Fuente El Saz de Jarama', 'Meco', 'Anchuelo', 'El Álamo', 'Colmenar de Oreja', 'Moraleja de Enmedio', 'Venturada', 'Pedrezuela', 'Villaviciosa de Odón', 'Braojos', 'Ciempozuelos', 'Torrelodones', 'Fresno de Torote', 'Villanueva de la Cañada', 'Robledo de Chavela', 'Pozuelo de Alarcón', 'Paracuellos de Jarama', 'El Vellón', 'Villalbilla', 'Valdelaguna', 'Villavieja del Lozoya', 'Cobeña', 'Valdetorres de Jarama', 'Zarzalejo', 'Torres de la Alameda', 'Majadahonda', 'Alcalá de Henares', 'Velilla de San Antonio', 'Hoyo de Manzanares', 'San Martín de Valdeiglesias', 'Navas del Rey', 'Villanueva de Perales', 'Campo Real', 'Arganda del Rey', 'El Molar (Madrid)', 'Estremera', 'Brea de Tajo', 'Villamanta', 'Becerril de la Sierra', 'Villarejo de Salvanés', 'Gascones', ' Madrid Capital', 'El Berrueco', 'Perales de Tajuña', 'Miraflores de la Sierra', 'Alcorcón', 'Canencia', 'Casarrubuelos', 'Garganta de los Montes', 'El Boalo - Cerceda – Mataelpino', 'Villamantilla', 'Manzanares El Real', 'Guadarrama', 'Pezuela de las Torres', 'Pinilla del Valle', 'La Cabrera', 'Collado Villalba', 'Colmenarejo', 'Tres Cantos', 'El Atazar', 'Redueña', 'Batres', 'Valdepiélagos', 'Villanueva del Pardillo', 'Villar del Olmo', 'Brunete', 'Moralzarzal', 'Valverde de Alcalá']

In [ ]:
populations_list = ds['level5'].unique()
print(populations_list)

#### Exercise 05. Does the dataset contain NAs? (★☆☆)

Print a boolean value (`true` or `fase`) followed by the rows/cols that contains NAs.

In [ ]:
# TODO

#### Exercise 06. Delete the NAs of the dataset, if applicable (★★☆)

Print a comparison between the dimensions of the original DataFrame versus the DataFrame after the deletions

In [ ]:
# TODO

#### Exercise 07. Which is the mean of prices in the population (level5 column) of "Arroyomolinos (Madrid)"? (★★☆)

Print the obtained value

In [ ]:
# TODO

#### Exercise 08. Plot the histogram of prices for the population (level5 column) of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

Print the histogram of the prices and write in the Markdown cell a brief analysis about the plot.

In [ ]:
# TODO: Code

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 09. Are the averages of "Valdemorillo" and "Galapagar" prices the same? (★★☆)

Print the both average prices and then write a conclusion about them

In [ ]:
# TODO

#### Exercise 10. Are the averages of "Valdemorillo" and "Galapagar" price per square meter (price/m2) the same? (★★☆)

Print the both average prices and then write a conclusion about

Hint: Create a new column called `pps` (price per square) and then analyse the values

In [ ]:
# TODO

#### Exercise 11. Analyse the relation between the surface and the price of the houses (★★☆)

Hint: You can make a `scatter plot` and then write a conclusion about it

In [ ]:
# TODO: Code

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 12. How many real estate agencies the dataset contains? (★★☆)

Print the obtained value

In [ ]:
# TODO

#### Exercise 13. Which is the population (level5 column) that contains the most houses? (★★☆)

Print both the population and the number of houses

In [ ]:
# TODO

#### Exercise 14. Now let's work with the "south belt" of madrid. Make a subset of the original DataFrame that contains the following populations (level5 column): "Fuenlabrada","Leganés","Getafe","Alcorcón" (★★☆)

Hint: Filter the original DataFrame using the column `level5` and the function `isin`

In [ ]:
# TODO

#### Exercise 15. Make a bar plot of the median of the prices and explain what you observe (you must use the subset obtained in the question 14) (★★★)

Print the bar of the median of the prices and write in the Markdown cell a brief analysis about the plot

In [ ]:
# TODO: Code

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 16. Calculate the sample mean and variance of the variables: price, rooms, surface area and bathrooms (you must use the subset obtained in the question 14) (★★★)

Print both values for each variable

In [ ]:
# TODO

#### Exercise 17. What is the most expensive house of each population? You must use the subset obtained in the question 14 (★★☆)

Print both the address and the price of the selected house of each population. You can print a DataFrame or a single line for each population

In [ ]:
# TODO

#### Exercise 18. Normalize the variable of prices for each population and plot the 4 histograms in the same plot (you must use the subset obtained in the question 14) (★★★)

For the normalization method you can use the one you consider to, there is not a single correct answer to this question. Print the plot and write in the Markdown cell a brief analysis about the plot

Hint: You can help yourself reviewing the multihist demo of Matplotlib

In [ ]:
# TODO

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 19. What can you say about the price per square meter (price/m2) between the towns of "Getafe" and "Alcorcón"? You must use the subset obtained in the question 14 (★★☆)

Hint: Create a new column called `pps` (price per square) and then analyse the values

In [ ]:
# TODO

#### Exercise 20. Make the same plot for 4 different populations (level5 column) and rearrange them on the same graph? You must use the subset obtained in the question 14 (★★☆) 
Hint: make a scatter plot of each population using subplots.

In [ ]:
# TODO

#### Exercise 21. Make a plot of the coordinates (latitude and longitude columns) of the south belt of Madrid by color of each population (you must use the subset obtained in the question 14) (★★★★)

Execute the following cell and then start coding in the next one. You must implement a simple code that transform the coordinates columns in a Python dictionary (add more information if needed) and then add it to the map

In [ ]:
from ipyleaflet import Map, basemaps

# Map centred on (60 degrees latitude et -2.2 degrees longitude)
# Latitude, longitude
map = Map(center = (60, -2.2), zoom = 2, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.Stamen.Terrain)
map

In [ ]:
## HERE: plot the coordinates of the estates

## PUT HERE YOUR CODE: